<!DOCTYPE html>
<html lang="es">

<head>
    <title>EPIS - Origen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%- include ('./Partials/icono.html'); %>

        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
            id="bootstrap-css">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body>

    <div class="span3 well align-items-center justify-content-center text-center">
        <legend>Datos del Super Admin</legend>
        <form accept-charset="UTF-8" action="/0101/add" method="post"
            style="width: 100%; max-width: 1080px; margin: 0 auto; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <input class="span3" name="Usuario" placeholder="Nombre" type="text"
                style=" width: 90%; height: 30px; margin: 0.5rem;">
            <input class="span3" name="Password" placeholder="contraseña" type="password"
                style=" width: 90%; height: 30px; margin: 0.5rem;">
            <button class="btn btn-warning" type="submit">Crear</button>
        </form>
    </div>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>

</html>