<!--Javascript Global-->
<script src="/files/js/jquery.min.js"></script>
<script src="/files/js/popper/popper.min.js"></script>
<script src="/files/js/tether.min.js"></script>
<script src="/files/js/bootstrap.min.js"></script>
<script src="/files/js/jquery.cookie.js"></script>
<script src="/files/js/jquery.validate.min.js"></script>
<script src="/files/js/chart.min.js"></script>
<script src="/files/js/front.js"></script>

<script src="/files/dist/js/select2.min.js"></script>
<script src="/files/dist/js/i18n/es.js"></script>

<script>
    $('.js-example-basic-single').select2();
</script>

<script>
    $(function() {
        $('#dom-jqry').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
        })

    })
</script>

<script src="/files/tables/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/files/tables/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/files/tables/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/files/tables/data-table/js/data-table-custom.js"></script>