<nav class="navbar navbar-expand-lg ">
    <div class="search-box">
        <button class="dismiss"><i class="icon-close"></i></button>
        <form id="searchForm" action="#" role="search">
            <input type="search" placeholder="Search Now" class="form-control">
        </form>
    </div>
    <div class="container-fluid ">
        <div class="navbar-holder d-flex align-items-center justify-content-between">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">
                    <div class="brand-text brand-big hidden-lg-down"><img src="../../../img/EPIS.png" alt="Logo"
                            class="img-fluid"></div>
                    <div class="brand-text brand-small"><img src="../../../img/E.png" alt="Logo" class="img-fluid"></div>
                </a>
                <a id="toggle-btn" href="#" class="menu-btn active">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div> 
        </div>
        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">            
            <!-- Perfil -->
            <li class="nav-item dropdown"><a id="profile" class="nav-link logout" data-target="#" href="#"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                        src="../../../img/user.png" alt="..." class="img-fluid rounded-circle"
                        style="height: 30px; width: 30px;"></a>
                <ul aria-labelledby="profile" class="dropdown-menu profile">
                    <li>
                        <a rel="nofollow" href="#" class="dropdown-item d-flex">
                            <div class="msg-profile"> <img src="../../../img/user.png" alt="..."
                                    class="img-fluid rounded-circle"></div>
                            <div class="msg-body">
                                <%if(datos.Nombre_Usuario==''){%>
                                <h3 class="h5"> User Admin </h3><span>correo@admin.com</span>
                                <%}else{%>
                                <h3 class="h5"> <%=datos.Nombre_Usuario%> </h3><span> <%=datos.Tipo_Usuario%></span>
                                <%}%>
                            </div>
                        </a>
                        <hr>
                    </li>
                    <li>
                        <a rel="nofollow" href="/perfil" class="dropdown-item">
                            <div class="notification">
                                <div class="notification-content"><i class="fa fa-user "></i>Mi Perfil</div>
                            </div>
                        </a>
                        <hr>
                    </li>
                    <li>
                        <a rel="nofollow" href="/salir" class="dropdown-item">
                            <div class="notification">
                                <div class="notification-content"><i class="fa fa-power-off"></i>Salir</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>