<!-- Estilos Globales -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

<link rel="stylesheet" href="/files/css/bootstrap.min.css">
<link rel="stylesheet" href="/files/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/files/css/font-icon-style.css">
<link rel="stylesheet" href="/files/css/style.default.css" id="theme-stylesheet">
<link rel="stylesheet" href="/files/icon/themify-icons/themify-icons.css">
<link rel="stylesheet" href="/files/icon/icofont/css/icofont.css">
<link rel="stylesheet" href="/files/icon/feather/css/feather.css" id="theme-stylesheet">
<link rel="stylesheet" href="/files/icon/font-awesome/css/font-awesome.min.css" id="theme-stylesheet">


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>