<!DOCTYPE html>
<html lang="es">

<head>
    <title>ADICIONES</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Software para la gestion de inventario">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Epis, Navigate">
    <meta name="author" content="Sócrates Martínez Berrio">

    <%- include ('../Partials/icono.html'); %>
    <%- include ('../Partials/style.html'); %>
</head>

<body>

    <!--====================================================
                             MAIN NAVBAR
    ======================================================-->
    <header class="header">
        <%- include ('../Partials/navbar.html'); %>
    </header>

    <!--====================================================
                            PAGE CONTENT
    ======================================================-->
    <div class="page-content d-flex align-items-stretch">

        <!--***** SIDE NAVBAR *****-->
        <%- include ('../Partials/slider.html'); %>
        <div class="content-inner">
            <%- include ('../Partials/alertas.html'); %>
            <div class="main-body">
                <div class="page-body">
                        <div class="card">
                            <ul class="nav nav-tabs md-tabs " role="tablist" style="padding-top: 10px; padding-left: 10px;">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tproductos"
                                        role="tab"><i class="fa fa-terminal"></i> <%=variables2.Titulo%>
                                    </a>
                                    <div class="slide"></div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#proveedor"
                                        role="tab"><i class="fa fa-list-ol"></i> <%=variables3.Titulo%></a>
                                    <div class="slide"></div>
                                </li>
                            </ul>

                            <div class="tab-content card-block" style="padding: 15px;">

                                <div class="tab-pane active" id="tproductos" role="tabpanel">
                                    <form action="<%= variables2.Ruta_Form%>" method="post">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Nombre Tipo Producto</label>
                                                <input type="text" style="border-radius:8px;"
                                                    name="NombreTProducto" id="NombreTProducto" required
                                                    class="form-control" value="<%= Tipo_Producto.Nombre%>"
                                                    title="Nombre del Tipo de Producto">
                                            </div>

                                            <div class="col-md-6">
                                                <label>Descripcion</label>
                                                <input type="text" style="border-radius:8px;"
                                                    name="DescripcionTProducto" id="DescripcionTProducto"
                                                    required class="form-control" value="<%= Tipo_Producto.Descripcion%>"
                                                    title="Descripcion General De Que Tipo de Producto Son">
                                            </div>

                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6" style="text-align: center;">
                                                <button class="btn btn-mat btn-success"
                                                    type="submit"> <%= variables2.Boton%> </button>
                                            </div>                                                                                                                       
                                            <% if(variables2.Boton == 'Actualizar Tipo Producto'){%>
                                                <div class="col-md-6" style="text-align: center;">
                                                    <a href="/admin/adiciones/cancelar" class="btn btn-mat btn-danger"
                                                    type="submit"> Cancelar Proceso </a>
                                                </div>
                                            <%}%>
                                        </div>
                                    </form>
                                    <hr>
                                    <div class="row" style="padding-top: 20px;">
                                        <div class="col-md-12">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">Tipos de Productos</h3>
                                                </div>
                                                <!-- /.box-header -->
                                                <div class="box-body">
                                                    <div class="table-responsive dt-responsive">
                                                        <div id="dom-jqry_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-12">
                                                                    <table id="" class="table table-striped table-bordered nowrap dataTable" role="grid" aria-describedby="dom-jqry_info">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>No</th>
                                                                                <th>Nombre</th>
                                                                                <th>Descripcion</th>
                                                                                <th>Estado</th>
                                                                                <th>Acción</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <% if (ListaTProductos) { %>
                                                                        <% for(var i = 0; i < ListaTProductos.length; i++) { %>
                                                                        <tr>
                                                                            <td><%= i+1 %></td>
                                                                            <td> <%= ListaTProductos[i].Nombre %> </td>
                                                                            <td> <%= ListaTProductos[i].Descripcion %> </td>
                                                                            <td> <%= ListaTProductos[i].Estado %> </td>
                                                                            <td style='text-align: center'>
                                                                                <a type='button' class='btn btn-warning bo_fa'
                                                                                    href="/admin/adiciones/tproductos/buscar/<%=ListaTProductos[i].id_Tipo_Producto%>"
                                                                                    data-toggle='tooltip' data-placement='top'
                                                                                    title='Editar Tipo Documento'><i class='fa fa-pencil'></i>
                                                                                </a>
                                                                                <a type='button' class='btn btn-danger bo_fa'
                                                                                    href="/admin/adiciones/tproductos/borrar/<%=ListaTProductos[i].id_Tipo_Producto%>"
                                                                                    data-toggle='tooltip' data-placement='top'
                                                                                    title='Cambiar Estado Tipo Documento'><i class='fa fa-refresh'></i>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                        <% } %>
                                                                        <% } %>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="proveedor" role="tabpanel">
                                    <form action="<%= variables3.Ruta_Form%>" method="post">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Nombre</label>
                                                <input type="text" style="border-radius:8px;"
                                                    name="NombreProveedor" id="NombreProveedor" required
                                                    class="form-control" value="<%= Proveedor.Nombre%>"
                                                    title="Nombre del Proveedor">
                                            </div>

                                            <div class="col-md-6">
                                                <label>Nit</label>
                                                <input type="text" style="border-radius:8px;"
                                                    name="NitProveedor" id="NitProveedor"
                                                    required class="form-control" value="<%= Proveedor.Nit%>"
                                                    title="Nit de la Entidad">
                                            </div>

                                            <div class="col-md-6">
                                                <label>Direccion</label>
                                                <input type="text" style="border-radius:8px;"
                                                    name="DireccionProveedor" id="DireccionProveedor"
                                                    required class="form-control" value="<%= Proveedor.Direccion%>"
                                                    title="Direccion del Proveedor">
                                            </div>

                                            <div class="col-md-6">
                                                <label>Telefono</label>
                                                <input type="text" style="border-radius:8px;"
                                                    name="TelefonoProveedor" id="TelefonoProveedor"
                                                    required class="form-control" value="<%= Proveedor.Telefono%>"
                                                    title="Telefono Contacto Proveedor">
                                            </div>

                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6" style="text-align: center;">
                                                <button class="btn btn-mat btn-success"
                                                    type="submit"> <%= variables3.Boton%> </button>
                                            </div>                                                                                                                       
                                            <% if(variables3.Boton == 'Actualizar Proveedor') {%>
                                                <div class="col-md-6" style="text-align: center;">
                                                    <a href="/admin/adiciones/cancelar" class="btn btn-mat btn-danger"
                                                    type="submit"> Cancelar Proceso </a>
                                                </div>
                                            <%}%>
                                        </div>
                                    </form>
                                    <hr>
                                    <div class="row" style="padding-top: 20px;">
                                        <div class="col-md-12">
                                            <div class="box">
                                                <div class="box-header">
                                                    <h3 class="box-title">Tipos de Productos</h3>
                                                </div>
                                                <!-- /.box-header -->
                                                <div class="box-body">
                                                    <div class="table-responsive dt-responsive">
                                                        <div id="dom-jqry_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-12">
                                                                    <table id="" class="table table-striped table-bordered nowrap dataTable" role="grid" aria-describedby="dom-jqry_info">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>No</th>
                                                                                <th>Nombre</th>
                                                                                <th>Nit</th>
                                                                                <th>Direccion</th>
                                                                                <th>Telefono</th>
                                                                                <th>Estado</th>
                                                                                <th>Acción</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <% if (ListaProveedor) { %>
                                                                        <% for(var i = 0; i < ListaProveedor.length; i++) { %>
                                                                        <tr>
                                                                            <td><%= i+1 %></td>
                                                                            <td> <%= ListaProveedor[i].Nombre %> </td>
                                                                            <td> <%= ListaProveedor[i].Nit %> </td>
                                                                            <td> <%= ListaProveedor[i].Direccion %> </td>
                                                                            <td> <%= ListaProveedor[i].Telefono %> </td>
                                                                            <td> <%= ListaProveedor[i].Estado %> </td>
                                                                            <td style='text-align: center'>
                                                                                <a type='button' class='btn btn-warning bo_fa'
                                                                                    href="/admin/adiciones/proveedor/buscar/<%=ListaProveedor[i].id_Proveedor%>"
                                                                                    data-toggle='tooltip' data-placement='top'
                                                                                    title='Editar Proveedor'><i class='fa fa-pencil'></i>
                                                                                </a>
                                                                                <a type='button' class='btn btn-danger bo_fa'
                                                                                    href="/admin/adiciones/proveedor/borrar/<%=ListaProveedor[i].id_Proveedor%>"
                                                                                    data-toggle='tooltip' data-placement='top'
                                                                                    title='Cambiar Estado Proveedor'><i class='fa fa-refresh'></i>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                        <% } %>
                                                                        <% } %>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.box-body -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </div>
    </div>

    <%- include ('../Partials/js.html'); %>

</body>

</html>