<!DOCTYPE html>
<html lang="es">

<head>
    <title>PETICIONES</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Software para la gestion de inventario">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Epis, Navigate">
    <meta name="author" content="Sócrates Martínez Berrio">

    <% include ../Partials/icono.html %>
    <% include ../Partials/style.html %>
</head>

<body>

    <!--====================================================
                             MAIN NAVBAR
    ======================================================-->
    <header class="header">
        <% include ../Partials/navbar.html %>
    </header>

    <!--====================================================
                            PAGE CONTENT
    ======================================================-->
    <div class="page-content d-flex align-items-stretch">

        <!--***** SIDE NAVBAR *****-->
        <% include ../Partials/slider.html %>

            <div class="content-inner">
                <% include ../Partials/alertas.html %>
                <div class="card-block">
                    <div class="table-responsive dt-responsive">
                        <table id="dom-jqry" name="dom-jqry" class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr role="row">
                                    <th>No</th>
                                    <th>Fecha Peticion <a class="fa fa-question-circle" data-toggle='tooltip' data-placement='top' title="Año-Mes-Dia Hora"></a></th>
                                    <th>Registraduria</th>
                                    <th>Estado</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%if(Lista_Peticiones){%>
                                    <% for(var i=0; i < Lista_Peticiones.length; i++) {%>
                                    <tr>
                                        <td> <%= i+1 %> </td>
                                        <td> <%= Lista_Peticiones[i].Fecha_Peticion%></td>
                                        <td> <%= Lista_Peticiones[i].Registraduria%></td>
                                        <td> <%= Lista_Peticiones[i].Estado_Peticion%></td>                                        
                                        <td style='text-align: center'>
                                            <a type='button' class='btn btn-primary bo_fa' href="/admin/peticiones/ver/<%=Lista_Peticiones[i].Id_Peticion%>" data-toggle='tooltip' data-placement='top' title='Ver Detalles Peticion'><i class='fa fa-eye'></i></a>
                                            <a type='button' class='btn btn-success bo_fa' href="/admin/peticiones/atender/<%=Lista_Peticiones[i].Id_Peticion%>" data-toggle='tooltip' data-placement='top' title='Despachar Peticion'><i class='fa fa-check-square-o'></i></a>
                                            <a type='button' class='btn btn-danger bo_fa' href="/admin/peticiones/cancelar/<%=Lista_Peticiones[i].Id_Peticion%>" data-toggle='tooltip' data-placement='top' title='Cancelar Peticion'><i class='fa fa-ban'></i></a>
                                        </td>                                     
                                    </tr>
                                    <%}%>
                                <%}%>
                            </tbody>
                        </table>
                    
                    </div>
                </div>
            </div>

    </div>

    <% include ../Partials/js.html %>
</body>

</html>