<!DOCTYPE html>
<html lang="es">

<head>
    <title>PETICIONES</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Software para la gestion de inventario">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Epis, Navigate">
    <meta name="author" content="Sócrates Martínez Berrio">

    <%- include ('../Partials/icono.html'); %>
    <%- include ('../Partials/style.html'); %>

    <!-- Estilo Propio -->
    <link rel="stylesheet" href="../files/css/ui-elements/card.css">
    <link rel="stylesheet" href="../files/css/style.css">

    
    <link rel="stylesheet" type="text/css" href="../files/tables/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="../files/tables/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../files/tables/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
</head>

<body>

    <!--====================================================
                             MAIN NAVBAR
    ======================================================-->
    <header class="header">
        <%- include ('../Partials/navbar.html'); %>
    </header>

    <!--====================================================
                            PAGE CONTENT
    ======================================================-->
    <div class="page-content d-flex align-items-stretch">

        <!--***** SIDE NAVBAR *****-->
        <%- include ('../Partials/slider.html'); %>

            <div class="content-inner">
                <%- include ('../Partials/alertas.html'); %>
                <div class="card-block">
                    <div class="table-responsive dt-responsive">
                        <table id="dom-jqry" name="dom-jqry" class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr role="row">
                                    <th>No</th>
                                    <th>Fecha Peticion</th>
                                    <th>Registraduria</th>
                                    <th>Estado</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    
                    </div>
                </div>
            </div>

    </div>

    <%- include ('../Partials/js.html'); %>

    <script>
        $(function() {
            $('#dom-jqry').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                }
            })

        })
    </script>

    <!-- data-table js -->
    <script src="../files/tables/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../files/tables/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../files/tables/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../files/tables/data-table/js/data-table-custom.js"></script>

</body>

</html>