<!DOCTYPE html>
<html lang="es">

<head>
    <title>REGISTROS</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Software para la gestion de inventario">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Epis, Navigate">
    <meta name="author" content="Sócrates Martínez Berrio">

    <%- include ('../Partials/icono.html'); %>
    <%- include ('../Partials/style.html'); %>

    <!-- Estilo Propio -->
    <link rel="stylesheet" href="../files/css/ui-elements/card.css">
    <link rel="stylesheet" href="../files/css/style.css">

        
    <link rel="stylesheet" type="text/css" href="../files/tables/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="../files/tables/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../files/tables/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
</head>

<body>

    <!--====================================================
                             MAIN NAVBAR
    ======================================================-->
    <header class="header">
        <%- include ('../Partials/navbar.html'); %>
    </header>

    <!--====================================================
                            PAGE CONTENT
    ======================================================-->
    <div class="page-content d-flex align-items-stretch">

        <!--***** SIDE NAVBAR *****-->
        <%- include ('../Partials/slider.html'); %>

            <div class="content-inner">
                <%- include ('../Partials/alertas.html'); %>
                <div class="main-body">
                    <div class="page-body">
                            <div class="card">
                                <ul class="nav nav-tabs md-tabs " role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#info"
                                            role="tab"><i class="fa fa-terminal"></i> <%= variables1.Titulo%>
                                        </a>
                                        <div class="slide"></div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#listaproductos"
                                            role="tab"><i class="fa fa-list-ol"></i> Lista Productos</a>
                                        <div class="slide"></div>
                                    </li>
                                </ul>
    
                                <div class="tab-content card-block" style="padding: 15px;">
                                    <div class="tab-pane active" id="info" role="tabpanel">
                                        <form action="<%= variables1.Ruta_Form%>" method="post">
                                            <div class="row"> 

                                                <div class="col-md-6">
                                                    <label>Tipo de Producto</label>
                                                    <select class="form-control" name="TProducto"
                                                        id="TProducto" style="border-radius:8px;" required
                                                        title="Categoria del Producto a Ingresar">
                                                        <option value="">Seleccione Opción</option>
                                                        <%if(ListaTProductos){%>
                                                            <% for(var i=0; i < ListaTProductos.length; i++){%>
                                                                <% if(ListaTProductos[i].Nombre == Productos.Tipo_Producto){%>
                                                                    <option value="<%=ListaTProductos[i].id_Tipo_Producto%>" selected="selected"> <%= ListaTProductos[i].Nombre%> </option>  
                                                                <%} else {%>
                                                                    <option value="<%=ListaTProductos[i].id_Tipo_Producto%>"> <%= ListaTProductos[i].Nombre%> </option>  
                                                                <%}%>
                                                            <%}%>
                                                        <%}%>                                                                    
                                                    </select>
                                                </div>

                                                <div class="col-md-6">
                                                    <label>Codigo Producto</label>
                                                    <input type="text" style="border-radius:8px;"
                                                        name="CodigoProducto" id="CodigoProducto" required
                                                        class="form-control" value="<%= Productos.Codigo_Producto%>"
                                                        title="Codigo Unico del Producto">
                                                </div>
    
                                                <div class="col-md-6">
                                                    <label>Nombre Producto</label>
                                                    <input type="text" style="border-radius:8px;"
                                                        name="NombreProducto" id="NombreProducto"
                                                        required class="form-control" value="<%= Productos.Nombre_Producto%>"
                                                        title="Nombre Caracteristico">
                                                </div>
    
                                                <div class="col-md-6">
                                                    <label>Descripcion Producto</label>
                                                    <input type="text" style="border-radius:8px;"
                                                        name="DescripcionProducto" id="DescripcionProducto" required
                                                        class="form-control" value="<%= Productos.Descripcion_Producto%>" title="Alguna observacion del producto">
                                                </div>

                                                <div class="col-md-6">
                                                    <label><%=ListaBodegas[0].Cod_Bodega%> - <%=ListaBodegas[0].Nombre%> </label>
                                                    <input type="number" style="border-radius:8px;" min="0" pattern="^[0-9]+"
                                                        name="Id_<%=ListaBodegas[0].id_Bodega%>" id="Id_<%=ListaBodegas[0].id_Bodega%>" required
                                                        class="form-control" value="<%=Productos.Bodega1%>" title="Cantidad de Productos En Bodega">
                                                </div>                                               
                                                
                                                <div class="col-md-6">
                                                    <label><%=ListaBodegas[1].Cod_Bodega%> - <%=ListaBodegas[1].Nombre%> </label>
                                                    <input type="number" style="border-radius:8px;" min="0" pattern="^[0-9]+"
                                                        name="Id_<%=ListaBodegas[1].id_Bodega%>" id="Id_<%=ListaBodegas[1].id_Bodega%>" required
                                                        class="form-control" value="<%=Productos.Bodega2%>" title="Cantidad de Productos En Bodega">
                                                </div>  
                                                  
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-12" style="text-align: center;">
                                                    <button class="btn btn-mat btn-success"
                                                        type="submit"> <%= variables1.Boton%> </button>
                                                </div>                                                                                                                       
                                            </div>
                                            <% if(variables1.Boton == 'Actualizar Producto'){ %>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <a href="/admin/registros/cancelar" class="btn btn-mat btn-danger"
                                                            type="submit"> Cancelar Proceso </a>
                                                    </div>
                                                </div>
                                            <%}%>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="listaproductos" role="tabpanel">
                                        <div class="card-block">
                                        <div class="table-responsive dt-responsive">
                                            <table id="dom-jqry" name="dom-jqry" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Tipo Producto</th>
                                                        <th>Codigo Producto</th>
                                                        <th>Nombre Producto</th>
                                                        <th>Cantidad Producto</th>
                                                        <th>Descripcion Producto</th>
                                                        <th>Estado Producto</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%if(ListaProductos){%>
                                                    <% for(var i=0; i < ListaProductos.length; i++) {%>
                                                    <tr>
                                                        <td> <%= i+1 %> </td>
                                                        <td> <%= ListaProductos[i].Tipo_Producto%></td>
                                                        <td> <%= ListaProductos[i].Codigo_Producto%></td>
                                                        <td> <%= ListaProductos[i].Nombre_Producto%></td>
                                                        <td> <%= ListaProductos[i].Cantidad_Producto%></td>
                                                        <td> <%= ListaProductos[i].Descripcion_Producto%></td>
                                                        <td> <%= ListaProductos[i].Estado_Producto%></td>
                                                        <td style='text-align: center; width: 60px;'>
                                                            <a type='button'
                                                                class='btn btn-warning bo_fa'
                                                                href="/admin/registro_productos/buscar/<%= ListaProductos[i].Id_Producto%>"
                                                                data-toggle='tooltip' 
                                                                data-placement='top'
                                                                title='Editar Producto' style="width: 50px;"><i
                                                                    class='fa fa-pencil'></i>
                                                            </a>                                                                        
                                                        </td>
                                                    </tr>
                                                    <%}%>
                                                    <%}%>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

    </div>

    <%- include ('../Partials/js.html'); %>

    <script>
        $(function() {
            $('#dom-jqry').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                }
            })

        })
    </script>

    <!-- data-table js -->
    <script src="../files/tables/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../files/tables/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../files/tables/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../files/tables/data-table/js/data-table-custom.js"></script>
</body>

</html>