<!DOCTYPE html>
<html lang="es">

<head>
    <title>REGISTROS</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Software para la gestion de inventario">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Epis, Navigate">
    <meta name="author" content="Sócrates Martínez Berrio">

    <%- include ('../Partials/icono.html'); %>
    <%- include ('../Partials/style.html'); %>

    <!-- Estilo Propio -->
    <link rel="stylesheet" href="../files/css/ui-elements/card.css">
    <link rel="stylesheet" href="../files/css/style.css">


</head>

<body>

    <!--====================================================
                             MAIN NAVBAR
    ======================================================-->
    <header class="header">
        <%- include ('../Partials/navbar.html'); %>
    </header>

    <!--====================================================
                            PAGE CONTENT
    ======================================================-->
    <div class="page-content d-flex align-items-stretch">

        <!--***** SIDE NAVBAR *****-->
        <%- include ('../Partials/slider.html'); %>

            <div class="content-inner">
                <%- include ('../Partials/alertas.html'); %>
                <div class="main-body">
                    <div class="page-body">
                            <div class="card">
                                <ul class="nav nav-tabs md-tabs " role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#info"
                                            role="tab"><i class="fa fa-terminal"></i> <%= variables1.Titulo%>
                                        </a>
                                        <div class="slide"></div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#listaproductos"
                                            role="tab"><i class="fa fa-list-ol"></i> Lista Productos</a>
                                        <div class="slide"></div>
                                    </li>
                                </ul>
    
                                <div class="tab-content card-block" style="padding: 15px;">
                                    <div class="tab-pane active" id="info" role="tabpanel">
                                        <form action="<%= variables1.Ruta_Form%>" method="post">
                                            <div class="row"> 

                                                <div class="col-md-6">
                                                    <label>Tipo de Producto</label>
                                                    <select class="form-control" name="TProducto"
                                                        id="TProducto" style="border-radius:8px;" required
                                                        title="Categoria del Producto a Ingresar">
                                                        <option value="">Seleccione Opción</option>
                                                        <%if(ListaTProductos){%>
                                                            <% for(var i=0; i < ListaTProductos.length; i++){%>
                                                                <% if(ListaTProductos[i].Nombre == Productos.Tipo_Producto){%>
                                                                    <option value="<%=ListaTProductos[i].id_Tipo_Producto%>" selected="selected"> <%= ListaTProductos[i].Nombre%> </option>  
                                                                <%} else {%>
                                                                    <option value="<%=ListaTProductos[i].id_Tipo_Producto%>"> <%= ListaTProductos[i].Nombre%> </option>  
                                                                <%}%>
                                                            <%}%>
                                                        <%}%>                                                                    
                                                    </select>
                                                </div>

                                                <div class="col-md-6">
                                                    <label>Codigo Producto</label>
                                                    <input type="text" style="border-radius:8px;"
                                                        name="CodigoProducto" id="CodigoProducto" required
                                                        class="form-control" value="<%= Productos.Codigo_Producto%>"
                                                        title="Codigo Unico del Producto">
                                                </div>
    
                                                <div class="col-md-6">
                                                    <label>Nombre Producto</label>
                                                    <input type="text" style="border-radius:8px;"
                                                        name="NombreProducto" id="NombreProducto"
                                                        required class="form-control" value="<%= Productos.Nombre_Producto%>"
                                                        title="Nombre Caracteristico">
                                                </div>
    
                                                <div class="col-md-6">
                                                    <label>Descripcion Producto</label>
                                                    <input type="text" style="border-radius:8px;"
                                                        name="DescripcionProducto" id="DescripcionProducto" required
                                                        class="form-control" value="<%= Productos.Descripcion_Producto%>" title="Alguna observacion del producto">
                                                </div>

                                                <div class="col-md-6">
                                                    <label>Proveedor</label>
                                                    <select class="form-control" name="TIdentificacion"
                                                        id="TIdentificacion" style="border-radius:8px;" required
                                                        title="Tipo de Documento de la Productos">
                                                        <option value="">Seleccione Opción</option>
                                                        <%if(ListaProveedor){%>
                                                            <% for(var i=0; i < ListaProveedor.length; i++){%>
                                                                <% if(ListaProveedor[i].Nombre == Productos.Proveedor){%>
                                                                    <option value="<%=ListaProveedor[i].id_Proveedor%>" selected="selected"> <%= ListaProveedor[i].Nombre%> </option>  
                                                                <%} else {%>
                                                                    <option value="<%=ListaProveedor[i].id_Proveedor%>"> <%= ListaProveedor[i].Nombre%> </option>  
                                                                <%}%>
                                                            <%}%>
                                                        <%}%>                                                                    
                                                    </select>
                                                </div>
                                                
                                                <%if(ListaBodegas){%>
                                                    <%ListaBodegas.forEach(element => { %>
                                                        <div class="col-md-6">
                                                            <label><%=element.Cod_Bodega%> - <%=element.Nombre%></label>
                                                            <input type="number" style="border-radius:8px;"
                                                                name="<%=element.id_Bodega%>" id="<%=element.id_Bodega%>" required
                                                                class="form-control" value="0" title="Cantidad de Productos En Bodega">
                                                        </div>
                                                    <%});%>
                                                <%}%>                                                
    
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-12" style="text-align: center;">
                                                    <button class="btn btn-mat btn-success"
                                                        type="submit"> <%= variables1.Boton%> </button>
                                                </div>                                                                                                                       
                                            </div>
                                            <% if(variables1.Boton == 'Actualizar Producto'){%>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <a href="/supadmin/cancelar" class="btn btn-mat btn-danger"
                                                            type="submit"> Cancelar Proceso </a>
                                                    </div>
                                                </div>
                                            <%}%>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="listaproductos" role="tabpanel">
                                        <div class="table-responsive dt-responsive">
                                            <div id="dom-jqry_wrapper"
                                                class="dataTables_wrapper dt-bootstrap4">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12">
                                                        <table id="dom-jqry"
                                                            class="table table-striped table-bordered nowrap dataTable"
                                                            role="grid" aria-describedby="dom-jqry_info">
                                                            <thead>
                                                                <tr role="row">
                                                                    <th class="sorting_asc" tabindex="0" aria-controls="dom-jqry" rowspan="1" colspan="1" aria-sort="ascending">No</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="dom-jqry" rowspan="1" colspan="1">Tipo Producto</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="dom-jqry" rowspan="1" colspan="1">Codigo Producto</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="dom-jqry" rowspan="1" colspan="1">Nombre Producto</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="dom-jqry" rowspan="1" colspan="1">Cantidad Producto</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="dom-jqry" rowspan="1" colspan="1">Descripcion Producto</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="dom-jqry" rowspan="1" colspan="1">Estado Producto</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="dom-jqry" rowspan="1"  colspan="1">Nombre_Proveedor</th>
                                                                    <th class="sorting" tabindex="0" aria-controls="dom-jqry" rowspan="1"  colspan="1">Acciones</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <%if(ListaProductos){%>
                                                                <% for(var i=0; i < ListaProductos.length; i++) {%>
                                                                <tr>
                                                                    <td> <%= i+1 %> </td>
                                                                    <td> <%= ListaProductos[i].Tipo_Producto%></td>
                                                                    <td> <%= ListaProductos[i].Codigo_Producto%></td>
                                                                    <td> <%= ListaProductos[i].Nombre_Producto%></td>
                                                                    <td> <%= ListaProductos[i].Cantidad_Producto%></td>
                                                                    <td> <%= ListaProductos[i].Descripcion_Producto%></td>
                                                                    <td> <%= ListaProductos[i].Estado_Producto%></td>
                                                                    <td> <%= ListaProductos[i].Nombre_Proveedor%></td>
                                                                    <td
                                                                        style='text-align: center; width: 60px;'>
                                                                        <a type='button'
                                                                            class='btn btn-warning bo_fa'
                                                                            href="/admin/registro_productos/buscar/<%= ListaProductos[i].Id_User%>"
                                                                            data-toggle='tooltip' 
                                                                            data-placement='top'
                                                                            title='Editar Producto' style="width: 50px;"><i
                                                                                class='fa fa-pencil'></i>
                                                                        </a>
                                                                        <a type='button'
                                                                            class='btn btn-danger bo_fa'
                                                                            href="/admin/registro_productos/desactivar/<%= ListaProductos[i].Id_User%>"
                                                                            data-toggle='tooltip'
                                                                            data-placement='top'
                                                                            title='Desactivar Producto' style="width: 50px;"><i
                                                                                class='fa fa-ban'></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <%}%>
                                                                <%}%>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

    </div>

    <%- include ('../Partials/js.html'); %>

</body>

</html>